<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/cars/0"> Lambo truck</a>
    <a href="/cars/1"> Model S</a>
    <a href="/cars/2"> Cyber Truck</a>
    <h2><%= carBlogs.carName %></h2>
    <div style="font-size: small; font-style: italic; color: darkgray"><%= carBlogs.author %></div>
    <%= carBlogs.header %>
    <div><%= carBlogs.body %> </div>
    <img width="300px" src="<%= carBlogs.imageURL %>" alt="">
</body>

</html>